
#opacity{
       height: 200px;
    width:200px ;
    background-color: rgba(255, 0, 0, 0.807);
    opacity: 0.5;
}
div{
    height: 150px;
    width:150px ;
    background-color: rgba(11, 1, 1, 0.912);
    transition: 1s;
    transition-delay: 0.5s;
}
div:hover{
    background-color: rgb(200, 255, 0);
    border-radius: 60%;
}