h1{
    color: orange;
    text-decoration:rgb(12, 221, 236) double underline;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    font-family: legue spartan;
    text-transform: uppercase;
}
button{
    background-color: blue;
    color: white;
}
p{
    background-color: black;
    color: white;
}