#cointer{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    align-content: space-around;


}
h1{
    text-align: center;
}
#cointer div{
    height: 100px;
    width:300px ;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
#blue{
    flex-basis: 50px;
}
#green{
    flex-grow: 1;
}